@import '../variables.scss';
.topNav {
  display: flex;
  justify-content: space-between;
  @include default-paddings;
  padding-top: 1.5rem;
  padding-bottom: 1.25rem;
  border-bottom: 1px solid #f4f4f4;

  &__btnBack {
    display: flex;
    align-items: center;
  }
  &__pageTitle {
    font-size: 1.2rem;
    text-transform: uppercase;
    text-align: center;
    margin: auto;
    position: relative;
    left: -24px;
    font-weight: bold;
  }
}
.fa-angle-left {
  width: 1.5rem !important;
  height: 1.5rem !important;
}
