@import '../variables.scss';
.topNav {
  display: flex;
  justify-content: space-between;
  @include default-paddings;
  padding-top: 1.5rem;
  padding-bottom: 1.25rem;
  border-bottom: 1px solid #f4f4f4;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 100;
  

  &__btnBack {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  &__pageTitle {
    font-size: 1.2rem;
    text-transform: uppercase;
    text-align: center;
    margin: auto;
    position: relative;
    font-weight: bold;
    left: -18px;
  }
}

@media screen and (min-width: 1000px) {
  .topNav{
    padding: 1.5rem 0px 1.5rem 20px;
    justify-content: flex-start;

    &__btnBack::after{
      content: "Terug";
      text-transform: uppercase;
      font-size: 12px;
      font-weight: bold;
      margin-left: 10px;
      padding-top: 1px;
    }
  }
}
.fa-angle-left {
  width: 1.5rem !important;
  height: 1.5rem !important;
}

