.plantDetailsStats{
    p{
        font-size: 12px;
        margin-bottom: 5px;
        color: #444444;
    }
    h2{
        font-size: 14px;
        margin-bottom: 0;
        font-weight: bold;
    }
}