@import '../variables.scss';
.plantListBlock {
  @include default-paddings;
  padding-top: 1.5rem;
  padding-bottom: 4.5rem;
  &__title {
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 1rem;
  }
  &__list {
    padding-bottom: 0.1rem;
    a{
      &:hover{
        text-decoration: none;
      }
      li{
        transition: all .5s;
        &:hover{
          transform: scale(1.05);
        }
      }
    }
  }
}
