:root {
  --light-green: #d2e4b6;
  --dark-green: #517956;
  --secondary-dark: #444444;
  --secondary-grey: #dcdcdc;
  --secondary-white: #f4f4f4;
  --accent-yellow: #ffdb5e;
  --accent-blue: #9ed3fc;
  --accent-red: #f88484;
  --default-font: 'Open Sans', sans-serif !important;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--default-font);
  color: var(--secondary-dark);
}
html {
  font-size: 16px;
}
html,
body {
  min-height: 100%;
}
.form-wrap {
  border: none !important;
}

.logo h1 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 31px;
  letter-spacing: 1px;
}

.form-wrap .card-body.login-reg{
  display: flex;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.reg-login h2 {
  font-size: 20px;
  font-weight: bold;
  /* text-transform: uppercase; */
}

.reg-login form {
  min-width: 300px;
}

.logo svg {
  fill: var(--light-green);
}

.logo,
.logo svg {
  min-width: 70px;
  min-height: 70px;
  max-height: 70px;
}

.link {
  color: var(--dark-green);
}

.link:hover {
  color: var(--dark-green);
}

.reg-login .btn {
  padding: 10px 0px;
  background-color: var(--secondary-dark);
  border: none;
  text-transform: uppercase;
  font-weight: bold;
  transition: transform 0.5s;
}

.reg-login .btn:hover {
  background-color: var(--secondary-dark);
  transform: scale(1.05);
}

@media screen and (min-width: 476px) {
  .form-wrap {
    max-width: 480px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 992px) {
  .form-wrap {
    max-width: 100%;
    margin: 0 auto;
  }

  .logo {
    background-color: var(--secondary-dark);
    min-width: 50vw;
    min-height: 100vh;
    margin: 0;
  }

  .logo h1 {
    color: white;
    font-size: 37px;
  }

  .form-wrap .card-body.login-reg{
    flex-direction: row;
    padding: 0;
    align-items: center;
  }

  .reg-login {
    min-width: 50vw;
    padding: 0px 12vw;
  }

  .reg-login h2 {
    font-size: 25px;
  }
}

.logout .btn {
  background-color: var(--accent-red);
  color: white;
  border: none;
  width: 100%;
}

.logout .btn:hover {
  background-color: var(--accent-red);
  color: white;
}

